body {
    font-family: Arial;
}

ul {
    list-style-position: inside;
}

#header {
    background-color: rgb(0, 0, 76);
    width: 100%;
    height: 50px;
    color: white;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    line-height: 60px;
}

#date {
    width: 90%;
    font-size: 12px;
    margin: 3px auto;
    text-align: center;
}

#results {
    margin: 10px auto;
}

.passed {
    padding: 0 1em;
    color: green;
}

.failed {
    padding: 0 1em;
    color: red;
}

.pending {
    padding: 0 1em;
    color: orange;
}

.indent {
    margin-left: 2.4%;
}

.failure {
    color: red
}

.success {
    color: green
}

#rerun {
    padding-left: 20px;
}