table {
    width: 70%;
    margin: 10px auto;
    text-align: center;
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

thead th {
    background-color: #cce5ff;
    border: solid 1px #b2d8ff;
    color: #000000;
    padding: 10px;
}
tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

tbody td {
    border-top: none;
    border-bottom: none;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}
tbody tr:nth-child(even) {
    background-color: #FAFAFA;
}
